<div class="card">
    <div class="card__img">
        <img src="https://ss-static-01.esmsv.com/id/65439/galeriaimagenes/obtenerimagen/?id=72&tipoEscala=stretch&width=980&height=735" class="card__img-picture" alt="Imagen de trabajos">
    </div>
    <ul class="card__list">
        <li class="card__list-item">An item</li>
        <li class="card__list-item">A second item</li>
        <li class="card__list-item">A third item</li>
    </ul>
    <div class="card__footer">
        <button class="card__footer-button btn btn-dark">
            <a href="client" class="card__footer-button-link">Card link</a>
        </button>
    </div>
</div>