<div class="card mb-5">
    <div class="card__img mb-2">
        <img src="{{mainFoto}}" class="card__img-picture" alt="Imagen de trabajos">
    </div>
    <ul class="card__list">
        <li class="card__list-item">Cliente: {{entradaNombre}}</li>
        <li class="card__list-item">Tipo: {{entradaTipo}}</li>
        <li class="card__list-item">Color: {{entradaColor}}</li>
    </ul>
    <div class="card__footer">
        <button class="card__footer-button btn btn-dark">
            <a routerLink="/client/{{entradaId}}" class="card__footer-button-link">Ver</a>
        </button>
        <button class="card__footer-button btn btn-dark" (click)="selectWork(entradaId)">
            Eliminar
        </button>
    </div>
</div>