<div class="contact-section">
    <div class="contact-section__body container-fluid mb-3">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6 container">
                <div class="contact-section__body-tittle mb-5">
                    <h2>Clientes</h2>
                </div>
                <div class="contact-section__body-cards row d-flex justify-content-between">
                    <app-client-card
                    class="col-sm-12 col-md-6 col-lg-6"
                    *ngFor="let contact of clientContact"
                    [name]="contact.name"
                    [location]="contact.location"
                    [phone]="contact.phone"
                    [calification]="contact.calification"
                    />
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 container">
                <div class="contact-section__body-tittle mb-5">
                    <h2>Proveedores</h2>
                </div>
                <div class="contact-section__body-cards row d-flex justify-content-between">
                    <app-client-card
                    class="col-sm-12 col-md-6 col-lg-6"
                    *ngFor="let contact of providerContact"
                    [name]="contact.name"
                    [location]="contact.location"
                    [phone]="contact.phone"
                    [calification]="contact.calification"
                    />
                </div>
            </div>
        </div>
    </div>
</div>