<div class="footer container-fluid">
    <div class="footer__content row">
        <div class="footer__content-redes col-lg-4 col-md-4 col-sm-12"></div>
        <div class="footer__content-logo col-lg-4 col-md-4 col-sm-12">
            <a class="footer__content-logo-image" href="">
                <img class="footer__content-logo-image-photo" src="../../../assets/brunis.jpg" alt="">
            </a>
            <div>
                <h1 class="footer__content-logo-tittle">Brunis</h1>
            </div>
            <div>
                <p class="footer__content-logo-text">Muebles a Medida</p>
            </div>
        </div>
        <div class="footer__content-utilidad col-lg-4 col-md-4 col-sm-12">
            <button type="button" class="footer__content-utilidad-button" data-bs-toggle="modal"
                data-bs-target="#modalNotes">
                <img src="../../../assets/notas.png" class="footer__content-utilidad-button-image" alt="">
            </button>
        </div>
    </div>
</div>
<app-add-notes (startSpinn)="startSpinner()"></app-add-notes>