.footer{
    min-height: 7.5em;
    width: 100%;
    background-color: rgb(67, 58, 202);
    overflow-x: hidden;
    &__content{
        height: 100%;
        margin-top: 1em;
        &-redes{
            text-align: center;
            & p{
                margin: 0;
            }
        }
        &-logo{
            display: block;
            &-image{
                display: flex;
                justify-content: center;
                align-items: center;
                &-photo{
                    width: 50px;
                    border-radius: 100px;
                }
            }
            &-tittle{
                text-align: center;
                font-size: medium;
                margin: 5px 0px 0px 0px;
            }
            &-text{
                text-align: center;
                font-size: small;
            }
        }
        &-utilidad{
            display: flex;
            justify-content: center;
            text-align: center;            
        &-button{
                border: none;
                border-radius: 10px;
                width: 30px;
                height: 30px;
                &-image{
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (max-width: 992px){
    .footer{
        &__content{
            &-redes{
                order: 1;
                margin-bottom: 1.7em;
            }
            &-logo{
                order: 3;
            }
            &-utilidad{
                order: 2;
                margin-bottom: 1.7em;
            }
        }
    }
}

// @media screen and (max-width: 576px){
//     .footer{
//         &__content{
//             &-redes{
//                 order: 1;
//                 margin-bottom: 2em;
//             }
//             &-logo{
//                 order: 3;
//             }
//             &-utilidad{
//                 order: 2;
//                 margin-bottom: 2em;
//             }
//         }
//     }
// }