.navbar {
    position: fixed;
    width: 100vw;
    min-height: 4rem;
    justify-content: start;
    background-color: rgba(95, 95, 95, 0.651);
    z-index: 1030;
    &_container{
        &-logo{
            &-img{
                width: 3.2rem;
                height: 3.2rem;
                margin: 0 0 0 2.2rem;
                border-radius: 25px;
            }
        } &-searchMiddle{
            width: 10rem;
            display: none;
        } &-searchEnd{
            width: 10rem;
            margin-right: 2.7rem;
        }
    }
}

.nav{
    margin-bottom: 7rem;
}

@media screen and (max-width: 767px) {
    .navbar {
        justify-content: center;
        text-align: center;
        &_container{
            &-searchMiddle{
                display: block;
            } &-searchEnd{            
                display: none;
            }
        }
    }
}




// &__links {
//     display: flex;
//     align-items: center;
//     width: 50vw;
//     &-img {
//         &-picture{
//             width: 50px;
//             height: 50px;
//             margin: 0 30px;
//             border-radius: 25px;
//         }
//     }

//     &-acces {
//         &-item{
//             margin: 10px;
//             list-style: none;
//             text-decoration: none;
//             color: rgba(106, 169, 241, 0.74);
//         }
//     }
// }