<div class="nav">
    <nav class="navbar navbar-expand-sm bg-body-dark">
        <div class="container-fluid navbar_container">
            <a class="navbar-brand navbar_container-logo" href="">
                <img class="navbar_container-logo-img" src="assets/brunis.jpg" alt="Brunis">
            </a>
            <button class="navbar-toggler navbar_container-button" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse navbar_container-menu" id="navbarText">
                <ul class="navbar-nav navbar_container-menu-links">
                    <li class="nav-item navbar_container-menu-links-item">
                        <a class="nav-link" href="photos">Galeria</a>
                    </li>
                    <li class="nav-item navbar_container-menu-links-item">
                        <a class="nav-link" href="contact">Contacto</a>
                    </li>
                    <li class="nav-item navbar_container-menu-links-item">
                        <a class="nav-link" href="stock">Stock</a>
                    </li>
                    <li class="nav-item navbar_container-menu-links-item">
                        <a class="nav-link" href="notes">Notas</a>
                    </li>
                </ul>
            </div>
            <div class="form-outline mt-3">
                <input type="search" [(ngModel)]="searchText"
                (keyup)="searchInfo()"
                id="form1" class="form-control" placeholder="Filtrar" aria-label="Search" />
            </div>
        </div>
    </nav>
</div>
