.nav{
    margin-bottom: 7rem;
}

.navbar {
    position: fixed;
    width: 100vw;
    min-height: 4rem;
    background-color: rgba(95, 95, 95, 0.651);
    z-index: 1030;
    &__container{
        margin: 0 1.5rem;
        &-logo{
            margin-right: .5rem;
            &-img{
                width: 3.2rem;
                height: 3.2rem;
                border-radius: 25px;
            }
        } &-searchMiddle{
            display: none;
            width: 25%;
        } &-menu{
            &-links{
                align-items: center;
                &-item{
                    &-logout{
                        border: none;
                        background-color: inherit;
                        margin-left: .4rem;
                        color: rgba(0, 0, 0, 0.65);
                    }
                }
            }
        } 
        &-searchEnd{
            width: 20%
        }
    }
}


@media screen and (max-width: 767px) {
    .navbar {
        justify-content: center;
        text-align: center;
        &__container{
            margin-left: 1rem;
            margin-right: 1rem;
            &-searchMiddle{
                display: flex;
                width: 70%;
                justify-content: flex-end;
                &-input{
                    width: 35%;
                }
            }&-menu{
                &-links{
                    &-item{
                        &-logout{
                            margin: 0 auto;
                        }
                    }
                }
            } &-searchEnd{            
                display: none;
            }
        }
    }
}

@media screen and (max-width: 520px) {
    .navbar {
        &__container{
            margin: 0 .5rem 0 .5rem;
            &-searchMiddle{
                width: 50%;
                justify-content: center;
                &-input{
                    width: 62%;
                }
            }
        }
    }
}