<div class="home container">
    <div class="home__row row">
        <app-card class="home__row-card col-lg-4 col-md-4 col-sm-12"></app-card>
        <app-card class="home__row-card col-lg-4 col-md-4 col-sm-12"></app-card>
        <app-card class="home__row-card col-lg-4 col-md-4 col-sm-12"></app-card>
        <app-card class="home__row-card col-lg-4 col-md-4 col-sm-12"></app-card>
        <app-card class="home__row-card col-lg-4 col-md-4 col-sm-12"></app-card>
        <app-card class="home__row-card col-lg-4 col-md-4 col-sm-12"></app-card>
    </div>
</div>

<!-- Button trigger modal -->
<button type="button" class="modal-button btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">+</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Nuevo cliente/proveedor</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="" class="modal-body__form">
                    <div class="modal-body__form-input">
                        <label for="inputClient" class="form-label">Nombre Cliente/Proveedor</label>
                        <input class="modal-body__form-input form-control" id="inputClient" type="text" placeholder="Cliente">
                    </div>
                    <div class="modal-body__form-input">
                        <label for="inputPhone" class="form-label">Telefono</label>
                        <input class="modal-body__form-input form-control" id="inputPhone" type="number" placeholder="Telefono">
                    </div>
                    <div class="modal-body__form-input">
                        <label for="inputLocation" class="form-label">Dirección</label>
                        <input class="modal-body__form-input form-control" id="inputLocation" type="text" placeholder="Dirección">
                    </div>
                    <div class="modal-body__form-input">
                        <label for="inputNotes" class="form-label">Notas</label>
                        <textarea class="modal-body__form-input form-control" id="inputNotes" placeholder="Notas" rows="3"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary">Agregar</button>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>