<div class="home container">
    <div class="home__row row">
        <app-card *ngFor="let work of worksList" class="home__row-card col-lg-4 col-md-4 col-sm-12"
            [entradaNombre]="work.clientName" [entradaColor]="work.furnitureColor" [entradaTipo]="work.furnitureType"
            [entradaImagen]="work.pictures" [entradaId]="work.id">
        </app-card>
    </div>
</div>

<button type="button" class="modal-button btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">+</button>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Nuevo Proyecto</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="clear()"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="form" class="modal-body__form" (ngSubmit)="onSubmit()">
                    <div class="modal-body__form-input">
                        <label for="inputClientName" class="form-label">Nombre del cliente</label>
                        <input class="modal-body__form-input form-control" id="inputClientName" type="text"
                            placeholder="Nombre del cliente" formControlName="clientName" />
                    </div>
                    <div class="modal-body__form-input">
                        <label for="inputLocation" class="form-label">Dirección</label>
                        <input class="modal-body__form-input form-control" id="inputLocation" type="text"
                            placeholder="Dirección" formControlName="location" />
                    </div>
                    <div class="modal-body__form-input">
                        <label for="SelectType" class="form-label">Tipo de vivienda:</label>
                        <select class="form-control" id="SelectType" formControlName="type">
                            <option value="Casa">Casa</option>
                            <option value="Depto">Depto</option>
                            <option value="Comercio">Comercio</option>
                            <option value="Otro">Otro</option>
                        </select>
                    </div>
                    <div class="modal-body__form-input">
                        <label for="inputFurnitureType" class="form-label">Tipo de mueble</label>
                        <input class="modal-body__form-input form-control" id="inputFurnitureType" type="text"
                            placeholder="Tipo de mueble" formControlName="furnitureType" />
                    </div>
                    <div class="modal-body__form-input">
                        <label for="inputFurnitureColor" class="form-label">Color del mueble</label>
                        <input class="modal-body__form-input form-control" id="inputFurnitureColor" type="text"
                            placeholder="Color del mueble" formControlName="furnitureColor" />
                    </div>
                    <div class="modal-body__form-input">
                        <label for="inputWoodType" class="form-label">Tipo de madera</label>
                        <input class="modal-body__form-input form-control" id="inputWoodType" type="text"
                            placeholder="Tipo de madera" formControlName="woodType" />
                    </div>
                    <div class="modal-body__form-input">
                        <label for="inputPrice" class="form-label">Precio</label>
                        <input class="modal-body__form-input form-control" id="inputPrice" type="number"
                            placeholder="Precio" formControlName="price" />
                    </div>
                    <div class="modal-body__form-input">
                        <label for="inputDeadline" class="form-label">Fecha de entrega</label>
                        <input class="modal-body__form-input form-control" id="inputDeadline" type="date"
                            placeholder="Precio" formControlName="deadline" />
                    </div>
                    <div class="modal-body__form-input">
                        <label for="inputElevator" class="form-label">Ascensor</label>
                        <input formControlName="elevator" class="modal-body__form-input form-control" id="inputElevator"
                            type="text" placeholder="Ancho - Alto - Profundidad" />
                    </div>
                    <div class="modal-body__form-input">
                        <label for="inputDoor" class="form-label">Puertas</label>
                        <input formControlName="doors" class="modal-body__form-input form-control" id="inputDoor"
                            type="text" placeholder="Ancho - Alto" />
                    </div>
                    <div class="modal-body__form-input">
                        <label for="inputWall" class="form-label">Paredes</label>
                        <input formControlName="walls" class="modal-body__form-input form-control" id="inputWall"
                            type="text" placeholder="Tipo" />
                    </div>
                    <div class="modal-body__form-input">
                        <label for="inputPipes" class="form-label">Cañerias</label>
                        <input formControlName="pipes" class="modal-body__form-input form-control" id="inputPipes"
                            type="text" placeholder="Altura" />
                    </div>
                    <div class="modal-body__form-input">
                        <label for="inputWiring" class="form-label">Cableado</label>
                        <input formControlName="wiring" class="modal-body__form-input form-control" id="inputWiring"
                            type="text" placeholder="Altura" />
                    </div>
                    <div class="modal-body__form-input">
                        <label for="inputPlinth"> Zócalo </label>
                        <input formControlName="plinth" class="modal-body__form-input-checkbox" type="checkbox"
                            id="inputPlinth" name="plinth" value="Yes" />
                    </div>
                    <div class="modal-body__form-input">
                        <label for="inputBench"> Banquina </label>
                        <input formControlName="bench" class="modal-body__form-input-checkbox" type="checkbox"
                            id="inputBench" name="bench" value="Yes" />
                    </div>
                    <div class="modal-body__form-input">
                        <label for="inputPlugs"> Tomacorrientes </label>
                        <input formControlName="plugs" class="modal-body__form-input-checkbox" type="checkbox"
                            id="inputPlugs" name="plugs" value="Yes" />
                    </div>
                    <div class="modal-body__form-input">
                        <label for="inputCorbel"> Ménsulas </label>
                        <input formControlName="corbel" class="modal-body__form-input-checkbox" type="checkbox"
                            id="inputCorbel" name="corbel" value="Yes" />
                    </div>
                    <div class="modal-body__form-input">
                        <label for="inputPicture" class="form-label">Fotos</label>
                        <input type="file" id="inputPicture" (change)="getFotos($event)" formControlName="pictures" class="modal-body__form-input form-control">
                    </div>
                    <div *ngFor="let foto of workFotos" class="galery">
                        <div id="{{foto.id}}" class="fotoContainer">
                            <img src="{{foto.foto}}" alt="" style="width: 200px;">
                            <button (click)="deleteFoto(foto.id)">Borrar Foto</button>
                        </div>
                    </div>
                    <div class="modal-body__form-input">
                        <label for="inputNotes" class="form-label">Notas</label>
                        <textarea formControlName="notes" class="modal-body__form-input form-control" id="inputNotes"
                            placeholder="Notas" rows="3"></textarea>
                    </div>
                    <div class="modal-buttons mt-2 text-center">
                        <button type="button" class="btn btn-secondary m-2" data-bs-dismiss="modal" (click)="clear()">
                            Cancelar
                        </button>
                        <button type="submit" class="btn btn-primary m-2" data-bs-dismiss="modal">Agregar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>