<div class="loader" *ngIf="isLoading">
    <span class="spinner"></span>
</div>

<div class="container">
    <div class="container__login" *ngIf="!isLoading">
        <div class="container__login-logo">
            <img src="assets/brunis.jpg" alt="Brunis" class="container__login-logo-img">
            <span class="container__login-logo-title">Brunis Carpinteria</span>
        </div>
            <form class="container__login-form" [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="container__login-form-item">
                    <label for="email" class="form-label">Correo Electronico</label>
                    <input id="email" class="form-control" type="text" name="email" formControlName="email" placeholder="Correo">
                </div>
                <div class="container__login-form-item">
                    <label for="password" class="form-label">Contraseña</label>
                    <input id="password" class="form-control" type="password" name="password" formControlName="password" placeholder="Contraseña">
                </div>
                <div class="container__login-form-button">
                    <button type="submit" class="btn btn-dark">Iniciar Sesión</button>
                </div>
            </form>
    </div>
</div>