<div class="container" *ngFor="let item of providerList">
    <div class="container__card">
        <div class="container__card-header">
            <h2>{{item.name}}</h2>
        </div>
        <div class="container__card-body">
            <div class="container__card-body-item">
                <span>{{item.phone}}</span>
            </div>
            <div class="container__card-body-item">
                <span>{{item.location}}</span>
            </div>
            <div class="container__card-body-item">
                <span>{{item.calification}}</span>
            </div>
        </div>
        <div class="container__card-footer">
            <button 
            class="container__card-footer-button btn btn-primary" 
            (click)="setValue(item.id)"
            data-bs-toggle="modal"
            data-bs-target="#editModalProvider">Editar</button>
            <button 
            class="container__card-footer-button btn btn-danger"
            (click)="selectWork(item.id)">Eliminar</button>
        </div>
    </div>
</div>

<div class="modal fade" id="editModalProvider" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Nuevo Contacto</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="" class="modal-body__form" (ngSubmit)="onsubmit()" [formGroup]="form">
                    <div class="modal-body__form-input">
                        <label for="inputName" class="form-label">Nombre</label>
                        <input class="modal-body__form-input form-control" id="inputName" type="text"
                            placeholder="Nombre completo" formControlName="name">
                    </div>
                    <div class="modal-body__form-input">
                        <label for="inputLocation" class="form-label">Dirección</label>
                        <input class="modal-body__form-input form-control" id="inputLocation" type="text"
                            placeholder="Dirección" formControlName="location">
                    </div>
                    <div class="modal-body__form-input">
                        <label for="inputPhone" class="form-label">Teléfono</label>
                        <input class="modal-body__form-input form-control" id="inputPhone" type="number"
                            placeholder="Tel" formControlName="phone">
                    </div>
                    <div class="modal-body__form-select">
                        <label for="SelectType" class="form-label">Tipo:</label>
                        <select name="type" id="SelectType" class="form-control" formControlName="type">
                            <option value="client">Cliente</option>
                            <option value="provider">Proveedor</option>
                        </select>
                    </div>
                    <div class="modal-body__form-input">
                        <label for="inputCalification" class="form-label">calification</label>
                        <input class="modal-body__form-input form-control" id="inputCalification" placeholder="Castores"
                            type="number" formControlName='calification'>
                    </div>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Editar</button>
                </form>
            </div>
        </div>
    </div>
</div>