.work{
    width: 85vw;
    min-height: 70vh;
    margin: 0 auto;
    &__carousel{
        margin: 0 auto;
        width: 70%;
        height: 400px;
        overflow-y: hidden;
        &-content{
            &-pics{
                &-item{
                    &-photo{
                        object-fit: cover;
                    }
                }
            }
        }
    }
    &__detail{
        width: 70%;
        margin: 0 auto;
    }
}

.modal-button{
    width: 50px;
    position: fixed;
    bottom: 130px;
    left: 20px;
    font-size: x-large;
    border-radius: 100px;
}

.modal-body{
    &__form{
        &-input{
            margin-bottom: 5px;
            &-checkbox{
                margin-left: 5px;
            }
        }
    }
}

.loader{
    width: 100vw;
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    width: 48px;
    height: 48px;
    border: 5px solid #363636;
    border-bottom-color: transparent;
    border-radius: 50%;
    text-align: center;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 