.work{
    width: 100%;
    min-height: 70vh;
    margin: 0 auto;
    &__carousel{
        margin: 0 auto;
        width: 65%;
        overflow-y: hidden;
        &-content{
            height: 100%;
            &-pics{
                &-item{
                    height: 60vh;
                    &-photo{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                    }
                }
            }
        }
    }
    &__detail{
        width: 70%;
        margin: 0 auto;
    }
}

.modal-button{
    width: 50px;
    position: fixed;
    bottom: 130px;
    left: 20px;
    font-size: x-large;
    border-radius: 100px;
}

.modal-body{
    &__form{
        &-input{
            margin-bottom: 5px;
            &-checkbox{
                margin-left: 5px;
            }
        }
    }
}


@media screen and (max-width: 767px){
    .notes{
        order: 2;
    }
    .info{
        order: 1;
    }
    .work{
        &__carousel{
            width: 90%;
            &-content{
                &-pics{
                    &-item{
                        height: 40vh;
                    }
                }
            }
        }

    }
    
}
