<!-- <div class="work mt-1 mb-3">
    <div class="work__carousel">
        <div id="carouselExample" class="carousel slide work__carousel-content">
            <div class="carousel-inner work__carousel-content-pics">
                <div class="work__carousel-content-pics-item carousel-item active">
                    <img src="https://images.hola.com/imagenes/decoracion/20220321206292/muebles-caracteristicas-por-habitaciones-am/1-63-250/muebles-funciones-6t-t.jpg"
                        class="work__carousel-content-pics-item-photo d-block w-100" alt="...">
                </div>
                <div class="work__carousel-content-pics-item carousel-item">
                    <img src="https://images.hola.com/imagenes/decoracion/20220321206292/muebles-caracteristicas-por-habitaciones-am/1-63-250/muebles-funciones-6t-t.jpg"
                        class="work__carousel-content-pics-item-photo d-block w-100" alt="...">
                </div>
                <div class="work__carousel-content-pics-item carousel-item">
                    <img src="https://images.hola.com/imagenes/decoracion/20220321206292/muebles-caracteristicas-por-habitaciones-am/1-63-250/muebles-funciones-6t-t.jpg"
                        class="work__carousel-content-pics-item-photo d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev work__carousel-content-buttons" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next work__carousel-content-buttons" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <div class="work__detail mt-3">
        <div class="work__detail-client">
            <h1 class="work__detail-client-name">Nombre de prueba</h1>
            <p class="work__detail-client-direction">Dirección de prueba</p>
            <p class="work__detail-client-direction">Presupuesto</p>
            <p class="work__detail-client-direction">Fecha de entrega</p>
        </div>
        <div class="work__detail-info container mt-3">
            <div class="row">
                <div class="work__detail-info-specifications col-lg-6 col-md-6 col-sm-12">
                    <p class="work__detail-info-specifications-tipe">Tipo de mueble: ""</p>
                    <p class="work__detail-info-specifications-size">Medidias: ""</p>
                    <p class="work__detail-info-specifications-color">Colores: ""</p>
                    <p class="work__detail-info-specifications-color">Madera: ""</p>
                </div>
                <div class="work__detail-info-notes col-lg-6 col-md-6 col-sm-12">
                    <p>Texto de prueba</p>
                    <p>Texto de prueba</p>
                    <p>Texto de prueba</p>
                    <p>Texto de prueba</p>
                    <p>Texto de prueba</p>
                </div>
            </div>
        </div>
    </div>
</div> -->

{{id}}
<app-footer class="footer"></app-footer>