<app-navbar/>
<div class="loader" *ngIf="isLoading">
    <span class="spinner"></span>
</div>
<div class="work mt-1 mb-3" *ngIf="!isLoading">
    <div class="work__carousel text-center">
        <div id="carouselExample" class="carousel slide carousel-fade work__carousel-content">
            <div class="carousel-inner work__carousel-content-pics">
                <div class="work__carousel-content-pics-item carousel-item active text-center" *ngFor="let foto of workFotos">
                    <img src="{{foto.imageURL}}" class="work__carousel-content-pics-item-photo d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev work__carousel-content-buttons" type="button"
                data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next work__carousel-content-buttons" type="button"
                data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <div class="work__detail mt-3">
        <div class="work__detail-client container-fluid pt-2 pb-3">
            <div class="row">
                <h2 style="text-align: center; color: lightgrey;">Datos Cliente</h2>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="work__detail-client-name d-flex justify-content-center"><h5 style="margin-right: .8em;">Nombre: </h5> <span style="font-weight: 400; font-size: large; margin-top: 3px;">{{workInfo?.clientName}}</span></div>
                    <div class="work__detail-client-direction d-flex justify-content-center"><h5 style="margin-right: .8em;">Dirección: </h5> <span style="font-weight: 400; font-size: medium;">{{workInfo?.location}}</span></div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="work__detail-client-cost d-flex justify-content-center"><h5 style="margin-right: .8em;">Precio: </h5><span style="font-weight: 400; font-size: medium;">${{workInfo?.price}}</span></div>
                    <div class="work__detail-client-deadline d-flex justify-content-center"><h5 style="margin-right: .8em;">Fecha de entrega: </h5> <span style="font-weight: 400; font-size: medium;">{{workInfo?.deadline}}</span></div>
                </div>
            </div>
        </div>
        <div class="container-fluid mt-3">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 notes pt-2">
                    <h4 style="text-align: center; color: lightgrey;">Notas</h4>
                    <ul class="work__detail-notes mt-3 mb-3" *ngFor="let item of workNotes">
                        <li>{{item.note}}</li>
                    </ul>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12 info">
                    <div class="work__detail-info container-fluid">
                        <div class="row" style="border: 1px solid #ddd;
                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
                        border-radius: 2px;">
                        <h4 style="text-align: center; color: lightgrey; padding: 8px 0px;">Datos del mueble</h4>
                            <div class="work__detail-info-specifications col-lg-6 col-md-6 col-sm-12">
                                <p class="work__detail-info-specifications-item"><span style="font-weight: bold;">Tipo de mueble:  </span>{{workInfo?.furnitureType}}</p>
                                <p class="work__detail-info-specifications-item"><span style="font-weight: bold;">Medidias:  </span>""</p>
                                <p class="work__detail-info-specifications-item"><span style="font-weight: bold;">Colores:  </span>{{workInfo?.furnitureColor}}</p>
                                <p class="work__detail-info-specifications-item"><span style="font-weight: bold;">Madera:  </span>""</p>
                            </div>
                            <div class="work__detail-info-building col-lg-6 col-md-6 col-sm-12">
                                <p class="work__detail-info-building-item"><span style="font-weight: bold;">Tipo de edificio:  </span>{{workInfo?.type}}</p>
                                <p class="work__detail-info-building-item"><span style="font-weight: bold;">Ascensor:  </span>{{workInfo?.elevator}}</p>
                                <p class="work__detail-info-building-item"><span style="font-weight: bold;">Puertas:  </span>{{workInfo?.doors}}</p>
                                <p class="work__detail-info-building-item"><span style="font-weight: bold;">Paredes:  </span>{{workInfo?.walls}}</p>
                                <p class="work__detail-info-building-item"><span style="font-weight: bold;">Cañerias:  </span>{{workInfo?.pipes}}</p>
                                <p class="work__detail-info-building-item"><span style="font-weight: bold;">Cableado:  </span>{{workInfo?.wiring}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer class="footer"></app-footer>

<button (click)="setValues()" type="button" class="modal-button btn btn-primary" data-bs-toggle="modal"
    data-bs-target="#exampleModal">+</button>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Nuevo Proyecto</h1>
                <button (click)="clear()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="form" class="modal-body__form">
                    <div class="modal-body__form-input">
                        <label for="inputClientName" class="form-label">Nombre del cliente</label>
                        <input class="modal-body__form-input form-control" id="inputClientName" type="text"
                            placeholder="Nombre del cliente" formControlName="clientName" />
                    </div>
                    <div class="modal-body__form-input">
                        <label for="inputLocation" class="form-label">Dirección</label>
                        <input class="modal-body__form-input form-control" id="inputLocation" type="text"
                            placeholder="Dirección" formControlName="location" />
                    </div>
                    <div class="modal-body__form-input">
                        <label for="SelectType" class="form-label">Tipo de vivienda:</label>
                        <select class="form-control" id="SelectType" formControlName="type">
                            <option value="Casa">Casa</option>
                            <option value="Depto">Depto</option>
                            <option value="Comercio">Comercio</option>
                            <option value="Otro">Otro</option>
                        </select>
                    </div>
                    <div class="modal-body__form-input">
                        <label for="inputFurnitureType" class="form-label">Tipo de mueble</label>
                        <input class="modal-body__form-input form-control" id="inputFurnitureType" type="text"
                            placeholder="Tipo de mueble" formControlName="furnitureType" />
                    </div>
                    <div class="modal-body__form-input">
                        <label for="inputFurnitureColor" class="form-label">Color del mueble</label>
                        <input class="modal-body__form-input form-control" id="inputFurnitureColor" type="text"
                            placeholder="Color del mueble" formControlName="furnitureColor" />
                    </div>
                    <div class="modal-body__form-input">
                        <label for="inputWoodType" class="form-label">Tipo de madera</label>
                        <input class="modal-body__form-input form-control" id="inputWoodType" type="text"
                            placeholder="Tipo de madera" formControlName="woodType" />
                    </div>
                    <div class="modal-body__form-input">
                        <label for="inputPrice" class="form-label">Precio</label>
                        <input class="modal-body__form-input form-control" id="inputPrice" type="number"
                            placeholder="Precio" formControlName="price" />
                    </div>
                    <div class="modal-body__form-input">
                        <label for="inputDeadline" class="form-label">Fecha de entrega</label>
                        <input class="modal-body__form-input form-control" id="inputDeadline" type="date"
                            placeholder="Precio" formControlName="deadline" />
                    </div>
                    <div class="modal-body__form-input">
                        <label for="inputElevator" class="form-label">Ascensor</label>
                        <input formControlName="elevator" class="modal-body__form-input form-control" id="inputElevator"
                            type="text" placeholder="Ancho - Alto - Profundidad" />
                    </div>
                    <div class="modal-body__form-input">
                        <label for="inputDoor" class="form-label">Puertas</label>
                        <input formControlName="doors" class="modal-body__form-input form-control" id="inputDoor"
                            type="text" placeholder="Ancho - Alto" />
                    </div>
                    <div class="modal-body__form-input">
                        <label for="inputWall" class="form-label">Paredes</label>
                        <input formControlName="walls" class="modal-body__form-input form-control" id="inputWall"
                            type="text" placeholder="Tipo" />
                    </div>
                    <div class="modal-body__form-input">
                        <label for="inputPipes" class="form-label">Cañerias</label>
                        <input formControlName="pipes" class="modal-body__form-input form-control" id="inputPipes"
                            type="text" placeholder="Altura" />
                    </div>
                    <div class="modal-body__form-input">
                        <label for="inputWiring" class="form-label">Cableado</label>
                        <input formControlName="wiring" class="modal-body__form-input form-control" id="inputWiring"
                            type="text" placeholder="Altura" />
                    </div>
                    <div class="modal-body__form-input">
                        <label for="inputPlinth"> Zócalo </label>
                        <input formControlName="plinth" class="modal-body__form-input-checkbox" type="checkbox"
                            id="inputPlinth" name="plinth" value="Yes" />
                    </div>
                    <div class="modal-body__form-input">
                        <label for="inputBench"> Banquina </label>
                        <input formControlName="bench" class="modal-body__form-input-checkbox" type="checkbox"
                            id="inputBench" name="bench" value="Yes" />
                    </div>
                    <div class="modal-body__form-input">
                        <label for="inputPlugs"> Tomacorrientes </label>
                        <input formControlName="plugs" class="modal-body__form-input-checkbox" type="checkbox"
                            id="inputPlugs" name="plugs" value="Yes" />
                    </div>
                    <div class="modal-body__form-input">
                        <label for="inputCorbel"> Ménsulas </label>
                        <input formControlName="corbel" class="modal-body__form-input-checkbox" type="checkbox"
                            id="inputCorbel" name="corbel" value="Yes" />
                    </div>
                    <div class="modal-body__form-input">
                        <label for="inputPicture" class="form-label">Fotos</label>
                        <input type="file" id="inputPicture" (change)="getFotos($event)" formControlName="pictures"
                            class="modal-body__form-input form-control">
                    </div>
                    <div *ngFor="let foto of workFotosToEdit" class="galery">
                        <div id="{{foto.id}}" class="fotoContainer">
                            <img src="{{foto.imageURL}}" alt="" style="width: 200px;">
                            <label for="mainFoto">Foto de Portada</label>
                            <input id="mainFoto" type="checkbox" [(ngModel)]="foto.mainFoto"
                                [ngModelOptions]="{standalone: true}" (change)="checkMain(foto.id)">
                            <button (click)="deleteFoto(foto.id)">Borrar Foto</button>
                        </div>
                    </div>
                    <div class="modal-body__form-input">
                        <label for="inputNotes" class="form-label">Notas</label>
                        <textarea formControlName="notes" class="modal-body__form-input form-control" id="inputNotes"
                            placeholder="Notas" rows="2"></textarea>
                    </div>
                    <div class="modal-buttons mt-2 text-center">
                        <button (click)="clear()" type="button" class="btn btn-secondary m-2" data-bs-dismiss="modal">
                            Cancelar
                        </button>
                        <button (click)="updateWork()" type="button" class="btn btn-primary m-2"
                            data-bs-dismiss="modal">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>