.modal-button{
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 110px;
    left: 20px;
    font-size: x-large;
    border-radius: 100px;
}
.title{
    align-items: center;
    text-align: center;
}
.contact{
    min-height: 600px;
    display: flex;
    &__list{
        width: 50%;
        &-title{
            margin-bottom: 30px;
            text-align: center;
        }

    }

}

.section-tittle{
    max-height: 50px;
}

.contact__section-providers{
    display: flex;
    justify-content: start;
    align-items: start;
    
}