.modal-button{
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 110px;
    left: 20px;
    font-size: x-large;
    border-radius: 100px;
}

.contact{
    min-height: 600px;
}

.section-tittle{
    max-height: 50px;
}

.contact__section-providers{
    display: flex;
    justify-content: start;
    align-items: start;
    
}