<div class="loader" *ngIf="isLoading">
    <span class="spinner"></span>
</div>

<div class="contact" *ngIf="!isLoading">
    <div class="contact__list">
        <h2 class="contact__list-title">Clientes</h2>
        <app-clients-contact (startSpinn)="startSpinner()"/>
    </div>
    <div class="contact__list">
        <h2 class="contact__list-title">Proveedores</h2>
        <app-provider-contact (startSpinn)="startSpinner()"/>
    </div>
</div>

<button type="button" class="modal-button btn btn-primary" data-bs-toggle="modal"
    data-bs-target="#exampleModal">+</button>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Nuevo Contacto</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="" class="modal-body__form" (ngSubmit)="onSubmit()" [formGroup]="form">
                    <div class="modal-body__form-input">
                        <label for="inputName" class="form-label">Nombre</label>
                        <input class="modal-body__form-input form-control" id="inputName" type="text"
                            placeholder="Nombre completo" formControlName='name'>
                    </div>
                    <div class="modal-body__form-input">
                        <label for="inputLocation" class="form-label">Dirección</label>
                        <input class="modal-body__form-input form-control" id="inputLocation" type="text"
                            placeholder="Dirección" formControlName='location'>
                    </div>
                    <div class="modal-body__form-input">
                        <label for="inputPhone" class="form-label">Teléfono</label>
                        <input class="modal-body__form-input form-control" id="inputPhone" type="number"
                            placeholder="Tel" formControlName='phone'>
                    </div>
                    <div class="modal-body__form-select">
                        <label for="SelectType" class="form-label">Tipo:</label>
                        <select name="type" id="SelectType" class="form-control" formControlName='type'>
                            <option value="client">Cliente</option>
                            <option value="provider">Proveedor</option>
                        </select>
                    </div>
                    <div class="modal-body__form-input">
                        <label for="inputCalification" class="form-label">calification</label>
                        <input class="modal-body__form-input form-control" id="inputCalification" placeholder="Castores"
                            type="number" formControlName='calification'>
                    </div>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Agregar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>