<app-navbar/>
<div class="loader" *ngIf="isLoading">
    <span class="spinner"></span>
</div>
<div class="notes" *ngIf="!isLoading">
    <h1 class="notes__tittle">Notas Sueltas</h1>
    <div class="notes__box">
        <ul class="notes__box-list" *ngFor="let note of noteList | filter:searchText">
            <li class="{{(note.completed)?'notes__box-list-isDone':''}}"> {{note.text}} - <button (click)="isDone(note.id)">✔</button><button (click)="selectWork(note.id)" >❌</button></li>
        </ul>
    </div>
</div>

<app-footer (startSpinn)="startSpinner()"></app-footer>
