.notes {
    min-height: 70vh;

    &__tittle {
        text-align: center;
        font-style: italic;
        margin: 20px 0px;
    }

    &__box {
        border: 3px black solid;
        width: fit-content;
        padding: .6em;
        font-size: large;
        margin: 1.2em auto;
        &-list {
            list-style-type: circle;
            &-isDone {
                display: flex;
                justify-content: center;
                text-decoration: line-through;
            }
            &-isNotDone{
                display: flex;
                justify-content: center;
            }
        }
    }
}