.notes {
    min-height: 70vh;

    &__tittle {
        text-align: center;
        font-style: italic;
        margin: 20px 0px;
    }

    &__box {
        display: flex;
        justify-content: center;
        margin-top: 25px;
        border: 3px black solid;
        width: fit-content;
        padding: 20px;
        font-size: x-large;
        margin: auto;
        margin-bottom: 10px;

        &-list {
            &-isDone {
                text-decoration: line-through;
            }
        }
    }
}