<div class="modal fade" id="modalNotes" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Notas Sueltas</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="" [formGroup]="form" (ngSubmit)="addNote()">
                    <label class="form-label" for="randomeNotes">Nueva Nota</label>
                    <textarea formControlName="text" class="form-control mb-3" id="randomeNotes" cols="10" rows="4"
                        placeholder="Agregar nota..." name="note">
                    </textarea>
                    <button type="button" class="btn btn-secondary m-1" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary m-1" data-bs-dismiss="modal">Save changes</button>
                </form>
            </div>
        </div>
    </div>
</div>