<div class="client-card card text-bg-dark mb-5">
    <h3 class="client-card__cardHeader card-header" title="{{name}}">{{name}}</h3>
    <div class="client-card__cardBody card-body">
        <h5 class="client-card__cardBody-tittle">Telefono:</h5>
        <p class="client-card__cardBody-text" title="{{phone}}">{{phone}}</p>
        <h5 class="client-card__cardBody-tittle">Dirección:</h5>
        <p class="client-card__cardBody-text" title="{{location}}">{{location}}</p>
        <h5 class="client-card__cardBody-tittle">Castores:</h5>
        <p class="client-card__cardBody-text">{{calification}}</p>
    </div>
</div>