.client-card {
    max-width: 14rem;
    max-height: 16rem;
    margin-left: 2.5rem;

    &__cardHeader {
        height: 3rem;
        font-size: x-large;
        overflow-y: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &__cardBody {
        overflow-y: hidden;

        &-tittle {
            font-size: large;
            margin-top: -3px;
        }

        &-text {
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}