.gallery{
    margin: 1em;
    columns: 5 320px;
    column-gap: 0.5em;
    &_item{
        overflow: hidden;
        margin-bottom: .5em;
        &-image{
            max-width: 100%;
            display: block;
            transition: .5s ease;
        }
    }
}

.gallery_item-image:hover{
    transform: scale(1.15);
}