    <table class="stockTable table">
        <thead class="stockTable__titles">
            <th class="stockTable__titles-item">Nombre</th>
            <th class="stockTable__titles-item">Cantidad</th>
            <th class="stockTable__titles-item">Dimensiones</th>
            <th class="stockTable__titles-item">Acciones</th>
        </thead>
        <tbody class="stockTable__body">
            <tr class="stockTable__body-list" *ngFor="let item of woodList | filter:searchText">
                <td data-label="Nombre" class="stockTable__body-list-item" title="{{item.name}}">{{item.name}}</td>
                <td data-label="Cantidad" class="stockTable__body-list-item" title="{{item.quantity}}">{{item.quantity}}</td>
                <td data-label="Dimensiones" class="stockTable__body-list-item" title="{{item.dimensions}}">{{item.dimensions}}</td>
                <td data-label="Acciones" class="stockTable__body-list-buttons">
                    <button class="stockTable__body-list-buttons-editButton btn" data-bs-toggle="modal"
                        data-bs-target="#woodEditModal" (click)="setvalues(item.id)">Editar</button>
                    <button class="stockTable__body-list-buttons-deleteButton btn" (click)="selectItem(item.id)">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>

<div class="modal fade" id="woodEditModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Editar Item</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="clear()"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="form" (ngSubmit)="onSubmit()" class="modal-body__form">
                    <div class="modal-body__form-input">
                        <label for="itemType" class="form-label">Nombre del item:</label>
                        <select id="itemType" class="form-control mb-3" formControlName="name">
                            <option value="0" disabled selected>-- Seleciona un item --</option>
                            <option *ngFor="let item of woodType" [value]="item.name">{{item.name}}</option>
                        </select>
                        <label for="quantityInput" class="form-label">Cantidad</label>
                        <input class="form-control mb-3" type="number" id="quantityInput"
                            placeholder="Ingrese la cantidad" formControlName="quantity">
                        <label for="dimensionsInput" class="form-label">Dimensiones</label>
                        <input class="form-control mb-3" type="text" id="dimensionsInput"
                            placeholder="Ingrese las dimensiones" formControlName="dimensions">
                    </div>
                    <div class="modal-buttons mt-2 text-center">
                        <button type="button" class="btn btn-secondary m-2" data-bs-dismiss="modal" (click)="clear()">Cancelar</button>
                        <button type="submit" class="btn btn-primary m-2" data-bs-dismiss="modal">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>