/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;   
}

body{
    min-height: 100%;
}

h1, h2, h3, h4, h5{
    overflow-y: hidden;
}

.swal2-icon{
    overflow-y: hidden;
}

.loader{
    width: 100vw;
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    width: 48px;
    height: 48px;
    border: 5px solid #363636;
    border-bottom-color: transparent;
    border-radius: 50%;
    text-align: center;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 